/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

body {
  background-color: #F0F4F8 !important;
}

#sidebar {
  position: fixed !important;
  transition: all 1s;
}

.vertical-nav {
  min-width: 18rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;

}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

@media only screen and (max-width: 700px) {
  .header_web {
    display: none;
  }

  .content {
    margin-left: 0px !important;
  }

}

@media only screen and (min-width: 700px) {
  .header_mobile {
    display: none;
  }

  .header_web {
    display: block;
  }


}

.header-row-logo {
  height: 100px;
  background-color: #F8F9FA;
}

.header-logo {
  width: 140px;
  margin-left: 70px;
}

#navbar_name {
  font-weight:
    bold
}

.section_row {
  margin-top: 170px !important;
  margin-bottom: 50px;
}

.section_title {
  font-size: 36px;
  margin: 0;
  margin-left: 14px;
  position: relative;
  color: #454360;
  font-weight: 700;
}

#nav_word {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 10px;
  color: black;
  transition: all 0.8s ease-in-out;
}

#nav_word:hover {
  color: #007BFF;
  transition: 0.8s;
}

#nav-item {
  width: 70% !important;
  margin-left: 20px !important;
}

#header_menu {
  margin-top: 10px;
}

#header_menu_web{
  margin-top: 100px;
}

.banner_text {
  margin-bottom: 45px !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.icons_row {
  max-width: 140px;
  margin: 0 auto;
  margin-bottom: 70px;
  margin-top: 20px;
}

.icons_col {
  text-align: -webkit-center;
}

.homepage_heading {
  padding-top: 70px;
  font-family: Peony, sans-serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -5px;
  margin-bottom: 100px;
}

.nft_row {
  margin: 0 auto;
  max-width: 1400px !important;
}

.nft_col {
  margin-top: 100px;
  min-width: 350px !important;
}

.homepage_box {
  margin: 2px;
  background-repeat: no-repeat;
  border: 2px rgb(0, 0, 0);
  border-radius: 10px;
  justify-content: center;
  background-color: white;
  background-size: cover;
  margin-bottom: 10px;
  height: 250px;
}

.homepage_box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.homepage_box:hover .box-info {
  display: flex;
  justify-content: center;

  height: 100%;
  background: #0000008c;
}


.curso_box {
  margin: 2px;
  background-repeat: no-repeat;
  border: 2px rgb(0, 0, 0);
  border-radius: 10px;
  justify-content: center;
  background-color: white;
  background-size: cover;
  margin-bottom: 20px;
}

.aluno_box {
  margin: 2px;
  background-repeat: no-repeat;
  border: 2px rgb(0, 0, 0);
  border-radius: 10px;
  justify-content: center;
  background-color: white;
  background-size: cover;
  margin-bottom: 20px;
}

.professor_box {
  margin: 2px;
  background-repeat: no-repeat;
  border: 2px rgb(0, 0, 0);
  border-radius: 10px;
  justify-content: center;
  background-color: white;
  background-size: cover;
  margin-bottom: 20px;
}

.disciplina_box {
 
  background-repeat: no-repeat;
  border: 2px rgb(0, 0, 0);
  border-radius: 10px;
  justify-content: center;
  background-color: white;
  background-size: cover;
  margin: 5px;
}

.disciplinas_heading {
  font-size: 32px;
  margin-top: 20px;

  font-weight: 500;
}


.disciplinas_heading_cont:after {
  content: '';
  width: 100%;
  border-bottom: solid 1px black;
  position: absolute;
  left: 0;
 
  }

.disciplinas_professor{
  margin-top: 40px;
  font-size: 18px;
}

@media only screen and (max-width: 700px) {
  .cursos-col4 {
    height: 200px;
    border-radius: 0px 0px 10px 10px !important;
  }
}

.professores_box {
  margin: 2px;
  background-repeat: no-repeat;
  border: 2px rgb(0, 0, 0);
  border-radius: 10px;
  justify-content: center;
  background-color: white;
  background-size: cover;
  height: 260px;
  width: 97%;
  margin-bottom: 20px;
}

.box-info {
  display: none;
}

.cursos_heading {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 60px;
  font-weight: 500;
}

@media (max-width: 700px) {
  .cursos_heading {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .cursos-web {
    display: none;
  }



}

@media (min-width: 700px) {

  .cursos-mobile {
    display: none;
  }
}

.professores_heading {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 110px;
}

.disciplinas-col {
  margin: -10px;
}



#modal1 {
  max-width: 2000px !important;
}

#modal2 {
  max-width: 800px;
  margin: 0 auto;
}

#modal3 {
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (min-width: 700px) {
  #modal3 {
display: none !important;
  }
.modal-backdrop{
  display: none !important;
}

}

.curso_imagen{
    background-size: cover;
}

.personal_img {
  margin-top: 30px;

}

.container-pesquisa {
  background-color: white;

  margin-bottom: 80px;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.form-control {
  background-color: #F0F4F8 !important;
}

.navbar2 {
  background-color: #F8F9FA;
  z-index: 1;
  height: 100px;
  position: sticky;
  margin-left: 18rem;
  top: 0px !important;
}

@media only screen and (max-width: 700px) {
  .nav-web {
    display: none;
  }

  .navbar2{
    margin-left: 0rem !important;
  }

  .modal-backdrop{
z-index: 1;
  }
  
  .modal-backdrop{
    z-index: 1 !important;
      }

      .modal-content{
        z-index: 100 !important;
          }
}

@media only screen and (min-width: 700px) {
  .nav-mobile {
    display: none;
  }
}

.navbar2 {}

.navbar-title {
  margin-top: 24px;
  font-size: 32px;
}

.tab-content {
  background-color: #F0F4F8;
}

.navbar-icon {
  font-size: 32px;
  margin-top: 28px;
  margin-left: 10px;
}

#content-full {
  transition: all 0.8s ease-in-out;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;

  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {
  outline: 3px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


.nav-link-container {
  height: 50px;
}

.nav-link-container:hover {
  background-color: #F8F9FA;
}

.nav-link-text {
  color: black;
  margin-left: 15px;
  font-weight: 400;
  font-size: 20px;
  height: 100%;
  margin-bottom: 0px !important;
}

.nav-link-text:hover {
  margin-left: 30px;
  transition: all 0.5s;
}

.homepage-sector-col {
  text-align: -webkit-center;
}

.page-margin {
  margin-left: 1rem !important;
}

.container-fluid{
max-width: 1100px;
margin: 0 auto;
}


.row-addPlayer-Title {

  color: white;
  height: 70px;
  margin-bottom: 50px;
}

.row-addPlayer-Container {
  background-color: #006dd7d1;
  margin: 0 auto !important;
  padding: 40px;
}

.add-Player-Button {
  width: 33%;
  background-color: transparent !important;
}

.add-Player-Button-Container {
  /*   background-color: transparent !important; */
  border: 0px !important;
}

.add-Player-Button-Container:hover {
  background-color: #006DD7 !important;
}

.row-addPlayer-Title-Row {
  height: 300px;
  padding-top: 24px !important;
  justify-content: center;
  background-color: #006dd7d1
}